<div class="home_body">
  <div class="home_wrapper">

      <h1> TEXAS RECORD BLEACH API</h1>

      <h2>This is the backend server for the Texas Record Bleach App.</h2>
      <a href="http://recordbleach.herokuapp.com/">Visit the App Here!</a>

  </div>
</div>
