<div class="home_body">
  <div class="home_wrapper">

      <h1> TEXAS RECORD BLEACH API</h1>

      <h2>This is the backend server for the Texas Record Bleach App.</h2>
      <a href="http://recordbleach.herokuapp.com/">Visit the App Here!</a>

      <p>
        RecordBleach is a tool that enables Texans to prepare necessary court documents for expunction of certain arrests, charge, and convictions.</p>

        <p> RecordBleach is an open source project, and you are invited to contribute!
      </p>

      <p>
        The project has 2 apps: a Rails API that handles the data and document generation. This is the repo for the Rails API. The front end is a React based app hosted <a href="https://github.com/recordbleach/recordBleach_front_end">here</a> . Decoupling the front end and backend was a design choice that allowed members of a TechForJustice hackathon team to fully contribute without tripping over tooling.
      </p>

      <h2>get involved with this open source project on <a href="https://github.com/recordbleach"> Github</a></h2>
  </div>
</div>
